<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 footer-widget">
          <h3>Статистика</h3>

          <div class="stats">
            <div class="line">
              <span class="counter"><%= Post.published.count %></span>
              <span class="caption">Новостей</span>
            </div>
            <div class="line">
              <span class="counter"><%= Comment.all.count %></span>
              <span class="caption">Комментариев</span>
            </div>
            <div class="line">
              <span class="counter"><%= User.admins.count %></span>
              <span class="caption"><%= t('misc.author') %></span>
            </div>                    
          </div>
        </div>

        <div class="col-sm-4 col-md-4 footer-widget">
          <h3>Последние новости</h3>
          <div class="post-recent-widget">
            <div class="row">
              <div class="col-sm-12">
                <% last_three_posts.each do |post| %>
                  <div class="media">
                    <div class="media-body">
                      <h4 class="media-heading">
                        <%= link_to post.title, post_path(post) %>
                      </h4>
                      <p class="post-date"><%= l(post.created_at) %></p>
                    </div>
                  </div>
                <% end %>  
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-md-4 footer-widget clearfix">
          <h3>Категории</h3>
          <ul class="tags">
            <% Category.all.each do |category| %>
              <li><%= link_to category.title, posts_path(category_id: category) %></li>
            <% end %>                
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p class="pull-left">Developed by <a href="mailto: ivfefilov@gmail.com">Иван Фефилов.</a></p>
      </div>
    </div>	
  </div>
</footer>  
