<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  
  <body id='home'>
    <%= render 'shared/menu' %>
    <div id="wrap">
      <%= render 'shared/main_nav' %>
      <%= render 'shared/hero' %>
      <div id="start" class="container content">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= yield :javascripts %>  
    </div>  
  </body>
</html>
