<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  
  <body id='home'>
    <%= render 'shared/menu' %>
    <div id="wrap" class="menu-open">
      <%= render 'shared/main_nav' %>
      <%= render 'shared/hero' %>
      <div id="start" class="container content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>  
    </div>  
  </body>
</html>
